<%= form_for(@contact) do |f| %>
  <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>

  <%
    # TODO: UI support to add multiple phones, emails and addresses per contact.
    # Data model already supports this as well as views.
  %>

  <% @contact.phones.each do |phone| %>
    <div class="form-group">
      <%= f.fields_for :phones, phone do |phone_fields| %>
        <%= phone_fields.label :phone %>
        <%= phone_fields.text_field :number, class: 'form-control' %>
      <% end %>
    </div>
  <% end %>

  <% @contact.addresses.each do |address| %>
      <%= f.fields_for :addresses, address do |fields| %>
        <div class="form-group">
          <%= fields.label :street_address_1 %>
          <%= fields.text_field :street_address_1, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= fields.label :street_address_2 %>
          <%= fields.text_field :street_address_2, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= fields.label :city %>
          <%= fields.text_field :city, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= fields.label :state %>
          <%= fields.text_field :state, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= fields.label :country %>
          <%= fields.text_field :country, class: 'form-control' %>
        </div>
      <% end %>
  <% end %>

  <%= button_tag type: 'submit', class: 'btn btn-success' do %>
    <i class="fa fa-check-square-o"></i> <%= t('label.button.save') %>
  <% end %>
<% end %>
