<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>

  <% @contact.phones.each do |phone| %>
    <div class="form-group">
      <%= f.fields_for :phones, phone do |phone_fields| %>
        <%= phone_fields.label :phone %><br>
        <%= phone_fields.text_field :number %>
      <% end %>
    </div>
  <% end %>

  <%= button_tag type: 'submit', class: 'btn btn-success' do %>
    <i class="fa fa-check-square-o"></i> Save
  <% end %>
<% end %>
