<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"><%= t('label.title.contact').pluralize %></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr class="contact-row">
        <td class="contact-preview">
          <%= link_to contact_path(contact),
                      text: 'Click to see contact details' do %>
            <%= contact.firstname %> <%= contact.lastname %>
          <% end %>
        </td>
        <td class="text-right actions">
          <%= link_to edit_contact_path(contact),
                      class: 'btn btn-warning btn-xs',
                      title: "Edit #{contact.firstname} #{contact.lastname}" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to contact,
                      method: :delete,
                      class: 'btn btn-danger btn-xs',
                      title: "Remove #{contact.firstname} #{contact.lastname}",
                      data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
